<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Gallery App</a>
    by David Mast
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>

    </ul>
  </nav>
</footer>
